default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password: password

development:
  <<: *default
  database: chai_family_planning_development

test:
  <<: *default
  database: chai_family_planning_test

production:
  <<: *default
  database: chai_family_planning
