.content{
  padding-left: 15px;
  padding-top: 20px;
}

.devise-form{
  margin: 100px auto;
  width: 50%;
  padding: 10px;
}

.new_user{
  margin-top: 20px;
}

.brand{
  text-decoration: none !important;
  color: rgba(255, 255, 255, 0.5) !important;
}

.navbar{
  color: white;
}

.selected-version{
    width: 400px !important;
    display: inline !important;
    margin-left: 20px;
    margin-right: 20px;
}

.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
    border-left: 1px solid #ddd;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}

.pagination-wrapper{
  text-align: right
}

.table {
    border: none;
    border-right: solid 1px #DDEFEF;
    border-collapse: separate;
    border-spacing: 0;
}

.table-wrapper {
    position: relative;
}
.table-scroller {
    margin-left: 120px;
    overflow-x: scroll;
    overflow-y: visible;
}
.table .table-sticky-col {
    left: 0;
    position: absolute;
    top: auto;
    width: 120px;
}
